<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="section">
            <h2><span jhiTranslate="shApp.section.detail.title">Section</span> {{section.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="shApp.section.partNumber">Part Number</span></dt>
                <dd>
                    <span>{{section.partNumber}}</span>
                </dd>
                <dt><span jhiTranslate="shApp.section.text">Text</span></dt>
                <dd>
                    <span>{{section.text}}</span>
                </dd>
                <dt><span jhiTranslate="shApp.section.audioName">Audio Name</span></dt>
                <dd *ngIf="section.audioName">
                    <audio controls>
                        <source [src]="'files/audios/part-' + section.partNumber + '/' + section.audioName" type="audio/mp3">
                    </audio>
                </dd>
                <dt><span jhiTranslate="shApp.section.imageName">Image Name</span></dt>
                <dd *ngIf="section.imageName">
                    <img [src]="'files/' + section.imageName" width="300px" height="300px" />
                </dd>
                <dt><span jhiTranslate="shApp.section.imageTag">Image Tag</span></dt>
                <dd>
                    <span>{{section.imageTag}}</span>
                </dd>
                <dt><span>Questions: </span></dt>
                <dd>
                    <ul *ngFor="let question of section.questions">
                        <li>
                            <span>{{question.id}} || {{question.title}}</span>
                            <ul *ngFor="let answer of question.answers">
                                <li>
                                    <input type="checkbox" [checked]="answer.correctAnswer" disabled="disabled" />
                                    <span>|| {{answer.id}} || {{answer.title}}</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/section-sh', section.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
