<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-section-sh-heading" jhiTranslate="shApp.section.home.createOrEditLabel">Create or edit a Section</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!section.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="section.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shApp.section.text" for="field_text">Text</label>
                    <textarea type="text" class="form-control" name="text" id="field_text"
                              [(ngModel)]="section.text" required minlength="1" maxlength="7280" jhiAutosize></textarea>
                    <div [hidden]="!(editForm.controls.text?.dirty && editForm.controls.text?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.text?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.text?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.text?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 7280 }">
                        This field cannot be longer than 7280 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shApp.section.audioName" for="field_audioName">Audio Name</label>
                    <input type="text" class="form-control" name="audioName" id="field_audioName"
                        [(ngModel)]="section.audioName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shApp.section.imageName" for="field_imageName">Image Name</label>
                    <input type="text" class="form-control" name="imageName" id="field_imageName"
                        [(ngModel)]="section.imageName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shApp.section.imageTag" for="field_imageTag">Image Tag</label>
                    <input type="text" class="form-control" name="imageTag" id="field_imageTag"
                        [(ngModel)]="section.imageTag" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shApp.section.partNumber" for="field_partNumber">Part Number</label>
                    <input type="number" class="form-control" name="partNumber" id="field_partNumber"
                        [(ngModel)]="section.partNumber" required/>
                    <div [hidden]="!(editForm.controls.partNumber?.dirty && editForm.controls.partNumber?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.partNumber?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.partNumber?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
